.mini-calendar {
  width: 100%;
  padding: .4rem;
  background: #f4f4f4;
  border-radius: 8px;
}

.mini-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .8rem;
  margin-bottom: .3rem;
}

.month-title {
  text-transform: capitalize;
}

.nav-button {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.mini-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 2px;
}

.weekday {
  font-size: .6rem;
  font-weight: bold;
}

.mini-day {
  font-size: .65rem;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 4px;
}
