<div class="agenda-container">
  <div class="header">
    <button (click)="prevMonth()">Anterior</button>
    <h2>{{ currentMonth() + 1 }}/{{ currentYear() }}</h2>
    <button (click)="nextMonth()">Próximo</button>
  </div>

  <calendar-grid
    [currentMonth]="currentMonth()"
    [currentYear]="currentYear()"
    [selectedDate]="selectedDate()"
    (dateSelected)="onDateSelected($event)"
  >
  </calendar-grid>

  <div class="mini-wrapper">
    <mini-calendar [month]="currentMonth()" [year]="currentYear()"> </mini-calendar>

    <mini-calendar [month]="currentMonth()" [year]="currentYear()"> </mini-calendar>
  </div>

  <event-list [events]="dailyEventsList"> </event-list>
</div>
